@using Microsoft.Azure.ActiveDirectory.GraphClient
@model IEnumerable<AppRole>

<h2>/Roles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table id="directoryObjects" class="table table-bordered table-striped">
    <tr>
        <th>
            DisplayName
        </th>
        <th>
            Description
        </th>
        <th>
            AllowedMemberTypes
        </th>
        <th>
            Id
        </th>
        <th>
            Value
        </th>
        <th>
            IsEnabled
        </th>
    </tr>
    @foreach (var item in Model)
    {
        var role = item as AppRole;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => role.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => role.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => role.AllowedMemberTypes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => role.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => role.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => role.IsEnabled)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { objectId = item.Id }) <br />
            </td>
        </tr>
    }
</table>

@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see roles. Click @Html.ActionLink("here", "Index", "Roles", new { reauth = true }, null) to sign-in.</p>
}

